<ion-header>
  <ion-toolbar>
    <ion-title>Conocimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-badge slot="start">1</ion-badge>
  <ion-label>C++ </ion-label>
</ion-item>

<ion-item>
  <ion-badge slot="start">2</ion-badge>
  <ion-label>#C</ion-label>
</ion-item>

<ion-item>
  <ion-badge slot="start">3</ion-badge>
  <ion-label>Java Scrip</ion-label>
</ion-item>

<ion-item>
  <ion-badge slot="start">4</ion-badge>
  <ion-label>Angular</ion-label>
</ion-item>


<ion-item>
  <ion-badge slot="start">5</ion-badge>
  <ion-label>Symfhony </ion-label>
</ion-item>

<ion-item>
  <ion-badge slot="start">6</ion-badge>
  <ion-label>mong DB</ion-label>
</ion-item>


<ion-item>
  <ion-badge slot="start">7</ion-badge>
  <ion-label>Firebase </ion-label>
</ion-item>

<ion-item>
  <ion-badge slot="start">8</ion-badge>
  <ion-label>React</ion-label>
</ion-item>
