<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informacion Personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Informacion</ion-card-subtitle>
    <ion-card-title>Alfonso Heredia</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Estudiante de la Universida ubicada en Quito Escuela politecnica nacional
  </ion-card-content>
</ion-card>

<ion-card>


  <ion-card-content>
    Estudiante de la carrera de Tecnologia en Sistemas informaticos
    en la escuela politecnica nacional
  </ion-card-content>
  <ion-card-content>
    Certificado de IEEE 2100
  </ion-card-content>

  <ion-card-content>
    Certificado de cyberceguridad
  </ion-card-content>

  <ion-card-content>
    Cetificado de suficiencia en ingles
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Volver a pagina de inicio</ion-label>
  </ion-item>




</ion-card>


</ion-content>
