<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Horario de clases
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content [fullscreen]="true">
 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Horarios</ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-grid>
 
  <ion-row>
    <ion-col>Topicos especiales</ion-col>

    <ion-col>Martes</ion-col>
    <ion-col>2:00-5:00</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Soa</ion-col>

    <ion-col>Miercoles</ion-col>
    <ion-col>2:00-5:00</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Wlan</ion-col>

    <ion-col>Lunes</ion-col>
    <ion-col>2:00-5:00</ion-col>
  </ion-row>

</ion-grid>


  


  
</ion-content>
